body {
  margin: 0;
  padding: 0;
}

.fa-solid {
  color: #000;
  size: 2em;
}

.nav {
  list-style-type: none;
  margin-top: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(228, 227, 227);
  box-shadow: 0px 1vmax 1vmax 0.01vmax #767373;
}

.home_container {
  display: block;
  margin-left: 6vw;
  margin-right: 6vw;
}

ul {
  list-style-type: none;
}

.navbar {
  background-size: cover;
  display: inline-block;
  height: 5vmax;
  padding-top: 1vmax;
  padding-bottom: 1vmax;
  text-align: center;
}

nav {
  display: flex;
}

.navlink {
  color: rgb(39, 39, 39);
  text-decoration: none;
  text-underline-offset: 0.5vmax;
  height: 100%;
  padding-left: 3vmax;
  padding-right: 3vmax;
  font-size: 2vw;
  padding-top: 50%;
  padding-bottom: 50%;
}

.navbar .navlink:hover {
  background-color: #bebebe;
  text-decoration: underline rgb(253, 174, 3);
}

a:active {
  color: #0000ff;
}

.logo {
  height: 100%;
}

.sticky {
  position: fixed;
  height: 20vw;
  top: 20%;
  left: 75%;
  margin: 0;
  padding: 0;
}

.home_products {
  display: inline-block;
  height: 35vmax;
  font-size: 1.5vw;
}

.product_ul {
  text-align: center;
  margin-top: 2vw;
}

.product_img {
  height: 100%;
  padding-top: 1vw;
  padding-bottom: 1vw;
  padding-left: 2vw;
  padding-right: 2vw;
  margin-left: 2vw;
  margin-right: 2vw;
}

.product_name {
  margin: 0;
}

.product_price {
  color: green;
  margin: 0;
}

.about_ul {
  background-color: rgb(228, 227, 227);
  box-shadow: 0px -0.5vmax 1vmax 0.01vmax #767373;
  text-align: left;
  height: 20vw;
  padding-top: 3vw;
  padding-left: 0;
  vertical-align: text-top;
  border-radius: 2vw;
  margin-top: 2vw;
  background-image: url("/images/about_background.png");
  background-size: 100% 150%;
  background-position: center;
  background-repeat: no-repeat;
}

.about_img {
  display: inline-block;
  height: 100%;
  vertical-align: bottom;
}

.about_text {
  display: inline-block;
  font-size: 3vw;
  height: 100%;
  width: 40vw;
  vertical-align: text-bottom;
  margin-left: 1vw;
  font-size: 1.5vw;
  text-shadow: 1px 1px 2px white;
}

.banner_img {
  height: 100%;
}

.bottom_banner {
  display: inline-block;
  background-color: indigo;
  background-size: cover;
  overflow: hidden;
  width: 100%;
  text-align: center;
  padding: 1vw;
  margin: 0;
}

.copyright {
  color: white;
  font-size: 1vw;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.inputfield {
  font-size: 1.25vw;
  transition: border-left 1s;
}

.inputfield:focus {
  outline: none;
  border: 3px solid rgb(0, 17, 255);
  background-color: #e6f7ff;
}

.inputfield:invalid {
  border-left: 10px solid red;
}

.inputfield:valid {
  border-left: 10px solid greenyellow;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% 30%;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  display: inline-grid;
  justify-content: center;
  align-content: center;
  justify-items: end;
  align-items: center;
  font-size: 1.5vw;
}

/* The Close Button */
.close {
  color: #797979;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modalButton {
  background-color: #474747;
  color: white;
  border-radius: 2vw;
  padding: 1.25vw;
  box-shadow: 0px 0.5vmax 1vmax 0.02vmax #4d4646;
  font-size: 1.25vw;
}

.modalButton:hover {
  background-color: #615f5f;
}

.mobile_nav {
  display: none;
}

.fa-solid .fa-user {
  color: #000;
  font-size: 2em;
}

/* Mobile_nav Start: */

.mobile_logo {
  position: relative;
  display: inline-block;
  overflow: hidden;
  height: 2em;
}

mobileNav ul {
  display: flex;
  gap: 30px;
  align-items: center;
}

mobileNav ul li {
  list-style-type: none;
}

mobileNav ul li a {
  text-decoration: none;
  color: #0a2200;
}

.menu-icon {
  display: none;
}

.menu-icon i {
  color: black;
  font-size: 30px;
}

.menu-icon i:hover {
  transition: 0.3s;
  color: rgb(253, 174, 3);
  cursor: pointer;
}

#login_icon {
  background-color: #adadad;
  padding: 0.3em;
  font-size: 1.5em;
  border-radius: 20%;
}

@media (max-width: 600px) {
  .navbar {
    display: none;
  }

  .mobile_nav {
    margin-top: -16px;
    display: block;
    box-shadow: 0px 1vmax 1vmax 0.01vmax #767373;
  }

  mobileNav {
    padding-top: 0;
    margin-top: 0;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(228, 227, 227);
    position: relative;
    height: 45px;
  }

  mobileNav a:hover {
    background-color: rgb(243, 241, 241);
    transition: all 0.3s ease 0s;
    color: rgb(253, 174, 3);
  }

  mobileNav a {
    background-color: rgb(228, 227, 227);
    border-bottom: 2px #0a2200 solid;
    box-shadow: 0px -0.5vmax 1vmax 0.01vmax #767373;
    padding-left: 50%;
    padding-right: 50%;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1.5em;
  }

  mobileNav ul {
    box-shadow: 0px -0.5vmax 1vmax 0.01vmax #767373;
    height: 178px;
    position: absolute;
    top: 65px;
    left: 0;
    right: 0;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0;
    overflow: hidden;
    margin: 0;
  }

  mobileNav li {
    display: flex;
    width: 100%;
  }

  mobileNav ul li {
    padding-top: 0;
  }
  .menu-icon {
    display: block;
  }
  #mobile_navlinks {
    transition: all 0.5s;
    padding-left: 0;
  }
}
/* Mobile_nav End: */
